n8n-simple-workflows/1. Internal requests workflow/internal-requests-workflow.json
{
  "name": "1. Internal requests workflow",
  "nodes": [
    {
      "parameters": {
        "path": "internal-request",
        "formTitle": "Internal Request Form",
        "formDescription": "Submit your request to the appropriate department",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Department",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Accounting"
                  },
                  {
                    "option": "HR"
                  },
                  {
                    "option": "IT"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Request Title",
              "requiredField": true
            },
            {
              "fieldLabel": "Request Description",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Priority",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Low"
                  },
                  {
                    "option": "Medium"
                  },
                  {
                    "option": "High"
                  },
                  {
                    "option": "Urgent"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "7f3cc95b-0141-4551-aeee-3db42688b417",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        -288,
        176
      ],
      "webhookId": "internal-request-form"
    },
    {
      "parameters": {
        "jsCode": "// Map and structure the form data\nconst formData = $input.item.json;\n\n// Extract timestamp\nconst timestamp = new Date().toISOString();\n\n// Map variables from form submission\n// The form uses \"Your Name\", \"Email\", etc. as keys\nconst mappedData = {\n  timestamp: timestamp,\n  requester_name: formData['Your Name'] || formData.requester_name,\n  requester_email: formData['Email'] || formData.requester_email,\n  department: formData['Department'] || formData.department,\n  request_title: formData['Request Title'] || formData.request_title,\n  request_description: formData['Request Description'] || formData.request_description,\n  priority: formData['Priority'] || formData.priority,\n  status: 'New',\n  request_id: `REQ-${Date.now()}`\n};\n\n// Return the mapped data\nreturn {\n  json: mappedData\n};"
      },
      "id": "9bca76ab-0cf0-44ee-9864-1fa1e4f05071",
      "name": "Map Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        176
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "Accounting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "cd99b3bc-08c3-4a0a-8b3e-21182808fca5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Accounting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "HR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "8e9987d1-10e6-45ac-841c-57048a31c59b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "IT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "singleValue": true
                    },
                    "id": "72a79aa1-5a20-45b4-bbcf-a114447b8d72"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IT"
            }
          ]
        },
        "options": {}
      },
      "id": "efff9d14-f118-439b-a519-f189a705ac60",
      "name": "Route by Department",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        160,
        176
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FcK4Cjo2iZEiPnqa0067WNWhDRe0p5vNiImZE2ZUjBE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Accounting",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Request ID": "={{ $json.request_id }}",
            "Requester Name": "={{ $json.requester_name }}",
            "Requester Email": "={{ $json.requester_email }}",
            "Request Title": "={{ $json.request_title }}",
            "Description": "={{ $json.request_description }}",
            "Priority": "={{ $json.priority }}",
            "Status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "Request ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request ID",
              "displayName": "Request ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Requester Name",
              "displayName": "Requester Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requester Email",
              "displayName": "Requester Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Request Title",
              "displayName": "Request Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "49a227ea-7e80-42bc-b917-31a3470b1cce",
      "name": "Add to Accounting Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        368,
        64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZKEuSXNi8Hoc2dz7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FcK4Cjo2iZEiPnqa0067WNWhDRe0p5vNiImZE2ZUjBE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "HR",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Request ID": "={{ $json.request_id }}",
            "Requester Name": "={{ $json.requester_name }}",
            "Requester Email": "={{ $json.requester_email }}",
            "Request Title": "={{ $json.request_title }}",
            "Description": "={{ $json.request_description }}",
            "Priority": "={{ $json.priority }}",
            "Status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "Request ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request ID",
              "displayName": "Request ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Requester Name",
              "displayName": "Requester Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requester Email",
              "displayName": "Requester Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Request Title",
              "displayName": "Request Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "eafed25b-c573-4ca0-a6ee-883be1775346",
      "name": "Add to HR Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        368,
        176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZKEuSXNi8Hoc2dz7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FcK4Cjo2iZEiPnqa0067WNWhDRe0p5vNiImZE2ZUjBE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "IT",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Request ID": "={{ $json.request_id }}",
            "Requester Name": "={{ $json.requester_name }}",
            "Requester Email": "={{ $json.requester_email }}",
            "Request Title": "={{ $json.request_title }}",
            "Description": "={{ $json.request_description }}",
            "Priority": "={{ $json.priority }}",
            "Status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "Request ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request ID",
              "displayName": "Request ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Requester Name",
              "displayName": "Requester Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requester Email",
              "displayName": "Requester Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Request Title",
              "displayName": "Request Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f2287e18-4401-4696-bd51-96857447e787",
      "name": "Add to IT Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        368,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZKEuSXNi8Hoc2dz7",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Map Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Variables": {
      "main": [
        [
          {
            "node": "Route by Department",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Department": {
      "main": [
        [
          {
            "node": "Add to Accounting Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add to HR Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add to IT Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c0a541f5-a238-468b-97a9-b9812faef43e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96add2e303f72aa16a39eea436903593869549c40bd26622ad76490ad225eb9e"
  },
  "id": "5umwkqkrux2PFAL0",
  "tags": []
}