n8n-simple-workflows/2. Google calendar summarizer/calendar_agent_with_get_events.json
{
  "name": "2. Google calendar summarizer",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "d5734f00-a14a-4949-a7d4-04fa2e2ea16e",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        528,
        -208
      ],
      "webhookId": "calendar-chat-simple"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "teomastro1999@gmail.com",
          "mode": "list",
          "cachedResultName": "teomastro1999@gmail.com"
        },
        "options": {
          "timeMin": "={{ $now.startOf('day').toISO() }}",
          "timeMax": "={{ $now.plus({days: 7}).toISO() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "198ba3e1-1204-4711-894e-8779453f57ea",
      "name": "Get many events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        752,
        -208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ilF4WKKHVd67Oi8v",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format calendar events into a readable text summary\nconst events = $input.all();\n\nif (!events || events.length === 0) {\n  return {\n    json: {\n      chatInput: $('When chat message received').item.json.chatInput,\n      calendarSummary: \"You have no events scheduled in the next 7 days.\"\n    }\n  };\n}\n\n// Format each event\nconst formattedEvents = events.map((item, i) => {\n  const event = item.json;\n  \n  let timeStr = '';\n  \n  if (event.start?.dateTime) {\n    const start = new Date(event.start.dateTime);\n    const end = new Date(event.end.dateTime);\n    const startStr = start.toLocaleString('en-US', {\n      weekday: 'short',\n      month: 'short',\n      day: 'numeric',\n      hour: '2-digit',\n      minute: '2-digit'\n    });\n    const endStr = end.toLocaleTimeString('en-US', {\n      hour: '2-digit',\n      minute: '2-digit'\n    });\n    timeStr = `${startStr} - ${endStr}`;\n  } else if (event.start?.date) {\n    const date = new Date(event.start.date);\n    timeStr = date.toLocaleDateString('en-US', {\n      weekday: 'short',\n      month: 'short',\n      day: 'numeric'\n    }) + ' (All day)';\n  }\n  \n  let eventLine = `${i + 1}. ${timeStr}: ${event.summary || 'Untitled'}`;\n  \n  if (event.location) {\n    eventLine += ` @ ${event.location}`;\n  }\n  \n  return eventLine;\n}).join('\\n\\n');\n\nconst summary = `Here are your calendar events for the next 7 days (${events.length} total):\\n\\n${formattedEvents}`;\n\n// Get the original chat input\nconst chatInput = $('When chat message received').item.json.chatInput;\n\nreturn {\n  json: {\n    chatInput: chatInput,\n    calendarSummary: summary\n  }\n};"
      },
      "id": "13972618-b6c1-457a-b4df-6bd90ba3beaa",
      "name": "Format Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -208
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful calendar assistant.\n\nToday's date: {{ $now.toFormat('yyyy-MM-dd') }}\nCurrent time: {{ $now.toFormat('HH:mm') }}\n\nThe user's calendar events have already been fetched and formatted. Use this information to answer their questions:\n\n{{ $json.calendarSummary }}\n\nProvide clear, helpful responses about their schedule. Group events by day when it makes sense. Highlight important details like location or timing conflicts.",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "8afb2844-67fc-443c-b8d6-7bfe0bbad713",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1200,
        -208
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9b82ae3c-6d23-4e9e-82a9-f09e4740c79c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1120,
        16
      ],
      "credentials": {
        "openAiApi": {
          "id": "DQX28WREINIoUWoo",
          "name": "Teo openai"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "id": "32f25680-b37c-4ea5-8229-401281baa3dc",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        1280,
        16
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Format Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Events": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d73905d-427d-4c65-b945-5863fd5569f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96add2e303f72aa16a39eea436903593869549c40bd26622ad76490ad225eb9e"
  },
  "id": "5ytsBOeC6kpzuNzL",
  "tags": []
}